<h2 mat-dialog-title>Restablecer Contraseña</h2>
<mat-dialog-content class="dialog-content">
  <!-- Utilizamos [formGroup]="resetPasswordForm" para conectar el formGroup del componente con el formulario HTML -->
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <mat-label>Contraseña Actual</mat-label>
      <!-- Usamos formControlName para conectar cada input con el form control correspondiente en el componente -->
      <input matInput type="password" formControlName="currentPassword">
      <!-- Mensaje de error cuando el campo está vacío y tocado -->
      <mat-error *ngIf="resetPasswordForm.get('currentPassword')?.errors?.['required'] && resetPasswordForm.get('currentPassword')?.touched">
        La contraseña actual es requerida.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Nueva Contraseña</mat-label>
      <input matInput type="password" formControlName="newPassword">
      <!-- Mensajes de validación para la nueva contraseña -->
      <mat-error *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required'] && resetPasswordForm.get('newPassword')?.touched">
        La nueva contraseña es requerida.
      </mat-error>
      <mat-error *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength'] && resetPasswordForm.get('newPassword')?.touched">
        La nueva contraseña debe tener al menos 6 caracteres.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <!-- Usamos [disabled]="resetPasswordForm.invalid" para deshabilitar el botón de confirmar si el formulario es inválido -->
  <button mat-raised-button color="primary" [disabled]="resetPasswordForm.invalid" (click)="onSubmit()">Confirmar</button>
</mat-dialog-actions>
