<app-header></app-header>
<div style="padding-left: 4%;">
<button mat-icon-button (click)="navigateTo('homeadmin')">
  <mat-icon class="back-arrow">arrow_back</mat-icon>
</button>
</div>
<div class="cards-container">
    <mat-card class="clickable-card" style="background-color: #1B4338; color: #FFFFFF;"
      (click)="navigateTo('homecaja')">
      <mat-card-title>Caja</mat-card-title>
    </mat-card>
  
    <mat-card class="clickable-card" style="background-color: #E8FFF9; color: #000000;"
      (click)="navigateTo('homemozo')">
      <mat-card-title>Mozo</mat-card-title>
    </mat-card>

    <mat-card class="clickable-card" style="background-color: #1B4338; color: #FFFFFF;"
      (click)="navigateTo('homecocina')">
      <mat-card-title>Cocina</mat-card-title>
    </mat-card>
  
    <!-- Nuevo botón agregado -->
    <mat-card class="clickable-card" style="background-color: #1B4338; color: #FFFFFF;"
      (click)="navigateTo('homemenu')">
      <mat-card-title>Menú</mat-card-title>
    </mat-card>
    
  </div>
  