<h2 mat-dialog-title>Agregar Ítem</h2>
<form [formGroup]="ItemForm" (ngSubmit)="onSubmit()" class="custom-form">
  <mat-dialog-content class="dialog-content">
    <!-- Campo de Nombre -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre">
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Descripcion</mat-label>
      <input matInput formControlName="descripcion">
    </mat-form-field>
    
    <!-- Dropdown de Categoría y campo CantXCasillero -->
    <div class="row">
      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Categoría</mat-label>
        <mat-select formControlName="categoriaId">
          <!-- Opciones para tu dropdown aquí -->
          <mat-option *ngFor="let cat of categorias" [value]="cat.id">
            {{ cat.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field appearance="fill" class="half-width">
        <mat-label>CantXCasillero</mat-label>
        <input matInput formControlName="cantxCasillero">
      </mat-form-field>
    </div>
    
    <!-- Selección de Costo: Casillero o Unidad -->
    <div class="row cost-section">

    
      <mat-form-field appearance="fill" class="cost-input">
        <mat-label>Costo</mat-label>
        <input matInput formControlName="costo">
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-actions">
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-button color="primary">Confirmar</button>
  </mat-dialog-actions>
</form>
