<button mat-button class="back-button" (click)="navigateTo('homemozo')">
  <mat-icon>arrow_back</mat-icon> Volver
</button>
<div class="button-container">
    <button class="add-order-button" (click)="openAgregarDialog()">Añadir Orden</button>
    <button mat-icon-button class="history-button"><mat-icon>history</mat-icon></button>
</div>

<div class="container">
  <h3>Ordenes:</h3>
  <div class="table-box">
    <div class="content" *ngFor="let orden of ordenes">
      <div class="order-info">
        <h2 class="order-number">Orden {{ orden.id }}</h2>
        <h2 class="order-time">{{ orden.hora }}</h2>
      </div>
      <div class="table-number">
        <h2>Mesa: {{ mesa.nroMesa }} </h2>
        <div class="buttons">
          <button class="button button-2" (click)="openConsultarOrden(orden)"><mat-icon>menu</mat-icon></button>
          <button class="button button-3" (click)="confirmarOrden(orden.id)"><mat-icon>done</mat-icon></button>
          <button class="button button-1" (click)="openCancelarOrdenModal(orden.id)"><mat-icon>delete</mat-icon></button>
        </div>
      </div>
    </div>
  </div>
</div>