.caja-total {
    background-color: #E8FFF9;
    font-size: 1.5em;
    border-radius: 8px;
    height: 50px;
  }
  
  button.mat-icon-button.primary {
    background-color: #F96464;
    color: #FFFFFF;
  }
  
  button.mat-icon-button.secondary {
    background-color: #4CA78E;
    color: #FFFFFF;
  }