<app-header></app-header>
<div class="button-container">
    <button class="add-order-button">Añadir Orden</button>
    <button mat-icon-button class="history-button"><mat-icon>history</mat-icon></button>
  </div>
  <div class="container">
    <h3>Mesas Ocupadas:</h3>
    <div class="table-box">
      <div class="content">
        <h2>Mesa</h2> <!-- Asegúrate de usar la propiedad correcta de la mesa -->
        <div class="buttons">
          <button class="button button-2"><mat-icon>menu</mat-icon></button>
          <button class="button button-3"><mat-icon>done</mat-icon></button>
        </div>
      </div>
    </div>
</div>

