<app-header></app-header> 
<div class="cards-container">
  <mat-card class="clickable-card" style="background-color: #1B4338; color: #FFFFFF;" (click)="navigateTo('inventario')">
    <mat-card-title>Control de Inventario</mat-card-title>
  </mat-card>

  <mat-card class="clickable-card" style="background-color: #E8FFF9; color: #000000;" (click)="navigateTo('gestionusers')">
    <mat-card-title>Gestión de Usuarios</mat-card-title>
  </mat-card>

  <mat-card class="clickable-card" style="background-color: #1B4338; color: #FFFFFF;" (click)="navigateTo('estadisticas')">
    <mat-card-title>Estadísticas</mat-card-title>
  </mat-card>

  <mat-card class="clickable-card" style="background-color: #E8FFF9; color: #000000;" (click)="navigateTo('historialVentas')">
    <mat-card-title>Historial de Ventas</mat-card-title>
  </mat-card>
  
  <!-- Agregando cuatro tarjetas adicionales para completar la segunda fila -->
  <mat-card class="clickable-card" style="background-color: #1B4338; color: #FFFFFF;" (click)="navigateTo('backOfficeMenu')">
    <mat-card-title>Menú</mat-card-title>
  </mat-card>

  <mat-card class="clickable-card" style="background-color: #E8FFF9; color: #000000;" (click)="navigateTo('organizacion')">
    <mat-card-title>Organización</mat-card-title>
  </mat-card>

  <mat-card class="clickable-card" style="background-color: #1B4338; color: #FFFFFF;" (click)="navigateTo('gestionhome')">
    <mat-card-title>Panel de Control</mat-card-title>
  </mat-card>
</div>