<app-header></app-header> 
<div style=" margin-bottom: 5px;font-size: 2em;padding-left: 4%;">
<button mat-icon-button (click)="navigateTo('homeadmin')" >
  <mat-icon class="back-arrow">arrow_back</mat-icon>
</button>
</div>
<div class="cards-container">
  <mat-card class="clickable-card"
    style="grid-column-start: 2; grid-column-end: 3; background-color: #1B4338; color: #FFFFFF;"
    (click)="navigateTo('gestionempleados')">
    <mat-card-title>Gestion de Empleados</mat-card-title>
  </mat-card>

  <mat-card class="clickable-card" style="background-color: #E8FFF9; color: #000000;"
    (click)="navigateTo('gestionclientes')">
    <mat-card-title>Gestión de Clientes</mat-card-title>
  </mat-card>
</div>