<mat-dialog-content>
    <div class="div-top">
        <h1>Modificar Orden</h1>
        <button mat-button class="menu">Abrir Menú</button>
    </div>

    <div class="div-resumen">
        <div class="option">
            <div class="option-content">
                <p>Hamburguesa con fritas</p>
            </div>
            <div class="option-buttons">
                <button mat-icon-button class="remove">
                    <mat-icon class="material-symbols-outlined">
                        remove
                    </mat-icon>
                </button>
                <input type="number" class="cantidad" placeholder="0">
                <button mat-icon-button class="add">
                    <mat-icon class="material-symbols-outlined">
                        add
                    </mat-icon>
                </button>
            </div>
        </div>

        <div class="option">
            <div class="option-content">
                <p>Hamburguesa con fritas</p>
            </div>
            <div class="option-buttons">
                <button mat-icon-button class="remove">
                    <mat-icon class="material-symbols-outlined">
                        remove
                    </mat-icon>
                </button>
                <input type="number" class="cantidad" placeholder="0">
                <button mat-icon-button class="add">
                    <mat-icon class="material-symbols-outlined">
                        add
                    </mat-icon>
                </button>
            </div>
        </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="buttons">
      <button mat-button >Volver</button>
      <button mat-button class="confirm">Confirmar</button>
    </div>
  </mat-dialog-actions>